

#container {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 500px;
}

h1 {
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
}

h2 {
    font-size: 1.25em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center;
}

p {
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
}

.content h2 {
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0.75em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: left;
}

blockquote {
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
}

blockquote p {
    font-size: 2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.follow {
    clear: both;
    font-size: 1.125em;
    margin-top: 2em;
}

.follow span {
    font-weight: bold;
}

.content {
    position: relative;
    z-index: 1;
}

.triangle-isosceles {
    background-attachment: initial;
    background-clip: initial;
    background-color: initial;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9D835), to(#F3961C));
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #000000;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    position: relative;
}

.triangle-isosceles.top {
    background-attachment: initial;
    background-clip: initial;
    background-color: initial;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F3961C), to(#F9D835));
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
}

.triangle-isosceles.left {
    background-attachment: initial;
    background-clip: initial;
    background-color: #F3961C;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    margin-left: 50px;
}

.triangle-isosceles.right {
    background-attachment: initial;
    background-clip: initial;
    background-color: #F3961C;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    margin-right: 50px;
}

.triangle-isosceles::after {
    border-bottom-color: #F3961C;
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 15px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 15px;
    border-top-color: #F3961C;
    border-top-style: solid;
    border-top-width: 15px;
    bottom: -15px;
    content: '';
    display: block;
    left: 50px;
    position: absolute;
    width: 0;
}

.triangle-isosceles.top::after {
    border-bottom-color: #F3961C;
    border-bottom-width: 15px;
    border-left-color: transparent;
    border-left-width: 15px;
    border-right-color: transparent;
    border-right-width: 15px;
    border-top-color: #F3961C;
    border-top-width: 0;
    bottom: auto;
    left: auto;
    right: 50px;
    top: -15px;
}

.triangle-isosceles.left::after {
    border-bottom-color: transparent;
    border-bottom-width: 10px;
    border-left-color: #F3961C;
    border-left-width: 0;
    border-right-color: #F3961C;
    border-right-width: 50px;
    border-top-color: transparent;
    border-top-width: 10px;
    bottom: auto;
    left: -50px;
    top: 16px;
}

.triangle-isosceles.right::after {
    border-bottom-color: transparent;
    border-bottom-width: 10px;
    border-left-color: #F3961C;
    border-left-width: 50px;
    border-right-color: #F3961C;
    border-right-width: 0;
    border-top-color: transparent;
    border-top-width: 10px;
    bottom: auto;
    left: auto;
    right: -50px;
    top: 16px;
}

.triangle-right {
    background-attachment: initial;
    background-clip: initial;
    background-color: initial;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2E88C4), to(#075698));
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    position: relative;
}

.triangle-right.top {
    background-attachment: initial;
    background-clip: initial;
    background-color: initial;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#075698), to(#2E88C4));
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
}

.triangle-right.left {
    background-attachment: initial;
    background-clip: initial;
    background-color: #075698;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    margin-left: 40px;
}

.triangle-right.right {
    background-attachment: initial;
    background-clip: initial;
    background-color: #075698;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    margin-right: 40px;
}

.triangle-right::after {
    border-bottom-color: #075698;
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 20px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 0;
    border-top-color: #075698;
    border-top-style: solid;
    border-top-width: 20px;
    bottom: -20px;
    content: '';
    display: block;
    left: 50px;
    position: absolute;
    width: 0;
}

.triangle-right.top::after {
    border-bottom-color: transparent;
    border-bottom-width: 0;
    border-left-color: #075698;
    border-left-width: 0;
    border-right-color: #075698;
    border-right-width: 20px;
    border-top-color: transparent;
    border-top-width: 20px;
    bottom: auto;
    left: auto;
    right: 50px;
    top: -20px;
}

.triangle-right.left::after {
    border-bottom-color: transparent;
    border-bottom-width: 0;
    border-left-color: #075698;
    border-left-width: 0;
    border-right-color: #075698;
    border-right-width: 40px;
    border-top-color: transparent;
    border-top-width: 15px;
    bottom: auto;
    left: -40px;
    top: 16px;
}

.triangle-right.right::after {
    border-bottom-color: transparent;
    border-bottom-width: 0;
    border-left-color: #075698;
    border-left-width: 40px;
    border-right-color: #075698;
    border-right-width: 0;
    border-top-color: transparent;
    border-top-width: 15px;
    bottom: auto;
    left: auto;
    right: -40px;
    top: 16px;
}

.triangle-obtuse {
    background-attachment: initial;
    background-clip: initial;
    background-color: initial;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F04349), to(#C81E2B));
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    position: relative;
}

.triangle-obtuse.top {
    background-attachment: initial;
    background-clip: initial;
    background-color: initial;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C81E2B), to(#F04349));
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
}

.triangle-obtuse.left {
    background-attachment: initial;
    background-clip: initial;
    background-color: #C81E2B;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    margin-left: 50px;
}

.triangle-obtuse.right {
    background-attachment: initial;
    background-clip: initial;
    background-color: #C81E2B;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    margin-right: 50px;
}

.triangle-obtuse::before {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 20px;
    border-color: initial;
    border-image: initial;
    border-left-color: #C81E2B;
    border-left-style: solid;
    border-left-width: 0;
    border-right-color: #C81E2B;
    border-right-style: solid;
    border-right-width: 30px;
    border-style: initial;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 0;
    bottom: -20px;
    content: '';
    display: block;
    left: 60px;
    position: absolute;
    width: 0;
}

.triangle-obtuse::after {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 20px;
    border-color: initial;
    border-image: initial;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 0;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 10px;
    border-style: initial;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 0;
    bottom: -20px;
    content: '';
    display: block;
    left: 80px;
    position: absolute;
    width: 0;
}

.triangle-obtuse.top::before {
    border-bottom-color: transparent;
    border-bottom-width: 0;
    border-color: initial;
    border-image: initial;
    border-left-color: #C81E2B;
    border-left-width: 30px;
    border-right-color: #C81E2B;
    border-right-width: 0;
    border-style: initial;
    border-top-color: transparent;
    border-top-width: 20px;
    bottom: auto;
    left: auto;
    right: 60px;
    top: -20px;
}

.triangle-obtuse.top::after {
    border-bottom-color: transparent;
    border-bottom-width: 0;
    border-left-color: #FFFFFF;
    border-left-width: 10px;
    border-right-color: transparent;
    border-right-width: 0;
    border-top-color: transparent;
    border-top-width: 20px;
    bottom: auto;
    left: auto;
    right: 80px;
    top: -20px;
}

.triangle-obtuse.left::before {
    border-bottom-color: #C81E2B;
    border-bottom-width: 30px;
    border-color: initial;
    border-image: initial;
    border-left-color: transparent;
    border-left-width: 50px;
    border-right-color: transparent;
    border-right-width: 0;
    border-style: initial;
    border-top-color: #C81E2B;
    border-top-width: 0;
    bottom: auto;
    left: -50px;
    top: 15px;
}

.triangle-obtuse.left::after {
    border-bottom-color: #FFFFFF;
    border-bottom-width: 10px;
    border-color: initial;
    border-image: initial;
    border-left-color: transparent;
    border-left-width: 50px;
    border-right-color: transparent;
    border-right-width: 0;
    border-style: initial;
    border-top-color: #FFFFFF;
    border-top-width: 0;
    bottom: auto;
    left: -50px;
    top: 35px;
}

.triangle-obtuse.right::before {
    border-bottom-color: #C81E2B;
    border-bottom-width: 30px;
    border-color: initial;
    border-image: initial;
    border-left-color: transparent;
    border-left-width: 0;
    border-right-color: transparent;
    border-right-width: 50px;
    border-style: initial;
    border-top-color: #C81E2B;
    border-top-width: 0;
    bottom: auto;
    left: auto;
    right: -50px;
    top: 15px;
}

.triangle-obtuse.right::after {
    border-bottom-color: #FFFFFF;
    border-bottom-width: 10px;
    border-color: initial;
    border-image: initial;
    border-left-color: transparent;
    border-left-width: 0;
    border-right-color: transparent;
    border-right-width: 50px;
    border-style: initial;
    border-top-color: #FFFFFF;
    border-top-width: 0;
    bottom: auto;
    left: auto;
    right: -50px;
    top: 35px;
}

.triangle-border {
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFFFFF;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-color: #5A8F00;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-image: initial;
    border-left-color: #5A8F00;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #5A8F00;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #5A8F00;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-style: solid;
    border-top-width: 5px;
    color: #333333;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    position: relative;
}

.triangle-border.left {
    margin-left: 30px;
}

.triangle-border.right {
    margin-right: 30px;
}

.triangle-border::before {
    border-bottom-color: #5A8F00;
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 20px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 20px;
    border-top-color: #5A8F00;
    border-top-style: solid;
    border-top-width: 20px;
    bottom: -20px;
    content: '';
    display: block;
    left: 40px;
    position: absolute;
    width: 0;
}

.triangle-border::after {
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 13px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 13px;
    border-top-color: #FFFFFF;
    border-top-style: solid;
    border-top-width: 13px;
    bottom: -13px;
    content: '';
    display: block;
    left: 47px;
    position: absolute;
    width: 0;
}

.triangle-border.top::before {
    border-bottom-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-top-width: 0;
    bottom: auto;
    left: auto;
    right: 40px;
    top: -20px;
}

.triangle-border.top::after {
    border-bottom-width: 13px;
    border-left-width: 13px;
    border-right-width: 13px;
    border-top-width: 0;
    bottom: auto;
    left: auto;
    right: 47px;
    top: -13px;
}

.triangle-border.left::before {
    border-bottom-color: transparent;
    border-bottom-width: 15px;
    border-left-color: #5A8F00;
    border-left-width: 0;
    border-right-color: #5A8F00;
    border-right-width: 30px;
    border-top-color: transparent;
    border-top-width: 15px;
    bottom: auto;
    left: -30px;
    top: 10px;
}

.triangle-border.left::after {
    border-bottom-color: transparent;
    border-bottom-width: 9px;
    border-left-color: #FFFFFF;
    border-left-width: 0;
    border-right-color: #FFFFFF;
    border-right-width: 21px;
    border-top-color: transparent;
    border-top-width: 9px;
    bottom: auto;
    left: -21px;
    top: 16px;
}

.triangle-border.right::before {
    border-bottom-color: transparent;
    border-bottom-width: 15px;
    border-left-color: #5A8F00;
    border-left-width: 30px;
    border-right-color: #5A8F00;
    border-right-width: 0;
    border-top-color: transparent;
    border-top-width: 15px;
    bottom: auto;
    left: auto;
    right: -30px;
    top: 10px;
}

.triangle-border.right::after {
    border-bottom-color: transparent;
    border-bottom-width: 9px;
    border-left-color: #FFFFFF;
    border-left-width: 21px;
    border-right-color: #FFFFFF;
    border-right-width: 0;
    border-top-color: transparent;
    border-top-width: 9px;
    bottom: auto;
    left: auto;
    right: -21px;
    top: 16px;
}

.example-commentheading {
    color: #603d05;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
}

.example-commentheading::before {
    background-attachment: initial;
    background-clip: initial;
    background-color: #603d05;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    content: '';
    height: 10px;
    left: -25px;
    position: absolute;
    top: 9px;
    width: 15px;
}

.example-commentheading::after {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-image: initial;
    border-left-color: #603d05;
    border-left-style: solid;
    border-left-width: 4px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 4px;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 4px;
    content: '';
    display: block;
    left: -19px;
    position: absolute;
    top: 15px;
    width: 0;
}

.example-right {
    background-attachment: initial;
    background-clip: initial;
    background-color: initial;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B8DB29), to(#5A8F00));
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    position: relative;
}

.example-right + p {
    font-style: italic;
    margin-bottom: 2em;
    margin-left: 85px;
    margin-right: 0;
    margin-top: 15px;
}

.example-right::after {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 50px;
    border-left-color: #5A8F00;
    border-left-style: solid;
    border-left-width: 0;
    border-right-color: #5A8F00;
    border-right-style: solid;
    border-right-width: 20px;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 0;
    bottom: -50px;
    content: '';
    display: block;
    left: 50px;
    position: absolute;
    width: 0;
}

.example-obtuse {
    background-attachment: initial;
    background-clip: initial;
    background-color: initial;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9D835), to(#F3961C));
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 25px 50px;
    border-bottom-right-radius: 25px 50px;
    border-top-left-radius: 25px 50px;
    border-top-right-radius: 25px 50px;
    color: #000000;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;

    position: relative;
}

.example-obtuse + p {
    font-style: italic;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 150px;
    margin-top: 10px;
    text-align: right;
}

.example-obtuse::before {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-left-color: #F3961C;
    border-left-style: solid;
    border-left-width: 50px;
    border-right-color: #F3961C;
    border-right-style: solid;
    border-right-width: 0;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 0;
    bottom: -30px;
    content: '';
    display: block;
    position: absolute;
    right: 80px;
    width: 0;
}

.example-obtuse::after {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-left-color: #FFFFFF;
    border-left-style: solid;
    border-left-width: 20px;
    border-right-color: #FFFFFF;
    border-right-style: solid;
    border-right-width: 0;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 0;
    bottom: -30px;
    content: '';
    display: block;
    position: absolute;
    right: 110px;
    width: 0;
}

.example-twitter {
    background-attachment: initial;
    background-clip: initial;
    background-color: #EEEEEE;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #333333;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 100px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    position: relative;
}

.example-twitter p {
    font-size: 28px;
    line-height: 1.25em;
}

.example-twitter::before {
    content: url(http://nicolasgallagher.com/pure-css-speech-bubbles/demo/twitter-logo.gif);
    display: block;
    height: 36px;
    left: 0;
    position: absolute;
    top: -60px;
    width: 155px;
}

.example-twitter::after {
    border-bottom-color: #EEEEEE;
    border-bottom-style: solid;
    border-bottom-width: 15px;
    border-image: initial;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 15px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 15px;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 15px;
    content: '';
    display: block;
    left: 50px;
    position: absolute;
    top: -30px;
    width: 0;
}

.example-twitter + p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    padding-left: 15px;
}

.example-number {
    background-attachment: initial;
    background-clip: initial;
    background-color: #C91F2C;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 140px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 200px;
    line-height: 200px;
    margin-bottom: 200px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    position: relative;
    text-align: center;
    width: 200px;
}

.example-number::before {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 140px;
    border-left-color: #C91F2C;
    border-left-style: solid;
    border-left-width: 140px;
    border-right-color: #C91F2C;
    border-right-style: solid;
    border-right-width: 0;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 0;
    bottom: -140px;
    content: '';
    position: absolute;
    right: 0;
}

.example-number::after {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 140px;
    border-left-color: #FFFFFF;
    border-left-style: solid;
    border-left-width: 55px;
    border-right-color: #FFFFFF;
    border-right-style: solid;
    border-right-width: 0;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 0;
    bottom: -140px;
    content: '';
    position: absolute;
    right: 85px;
}

.pinched {
    background-attachment: initial;
    background-clip: initial;
    background-color: #333333;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    position: relative;
    text-align: center;
}

.pinched::before {
    background-attachment: initial;
    background-clip: initial;
    background-color: #333333;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    content: '';
    height: 20px;
    left: 50%;
    margin-bottom: 0;
    margin-left: -50px;
    margin-right: 0;
    margin-top: 0;
    position: absolute;
    top: -20px;
    width: 100px;
}

.pinched::after {
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFFFFF;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-right-radius: 15px;
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    top: -20px;
    width: 50%;
}

.pinched > :first-child::before {
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFFFFF;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 15px;
    content: '';
    height: 20px;
    position: absolute;
    right: 0;
    top: -20px;
    width: 50%;
}

.oval-speech {
    background-attachment: initial;
    background-clip: initial;
    background-color: initial;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B8DB29), to(#5A8F00));
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 220px 120px;
    border-bottom-right-radius: 220px 120px;
    border-top-left-radius: 220px 120px;
    border-top-right-radius: 220px 120px;
    color: #FFFFFF;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    position: relative;
    text-align: center;
    width: 270px;
}

.oval-speech p {
    font-size: 1.25em;
}

.oval-speech::before {
    -webkit-transform: translate(0px, -2px);
    background-attachment: initial;
    background-clip: initial;
    background-color: #5A8F00;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-right-radius: 80px 50px;
    border-right-color: #5A8F00;
    border-right-style: solid;
    border-right-width: 60px;
    bottom: -30px;
    content: '';
    height: 30px;
    position: absolute;
    right: 50%;
    z-index: -1;
}

.oval-speech::after {
    -webkit-transform: translate(-30px, -2px);
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFFFFF;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-right-radius: 40px 50px;
    bottom: -30px;
    content: '';
    height: 30px;
    position: absolute;
    right: 50%;
    width: 60px;
    z-index: -1;
}

.oval-thought {
    background-attachment: initial;
    background-clip: initial;
    background-color: initial;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2E88C4), to(#075698));
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 220px 120px;
    border-bottom-right-radius: 220px 120px;
    border-top-left-radius: 220px 120px;
    border-top-right-radius: 220px 120px;
    color: #FFFFFF;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    position: relative;
    text-align: center;
    width: 270px;
}

.oval-thought p {
    font-size: 1.25em;
}

.oval-thought::before {
    background-attachment: initial;
    background-clip: initial;
    background-color: #075698;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    bottom: -20px;
    content: '';
    height: 30px;
    left: 50px;
    position: absolute;
    width: 30px;
}

.oval-thought::after {
    background-attachment: initial;
    background-clip: initial;
    background-color: #075698;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    bottom: -30px;
    content: '';
    height: 15px;
    left: 30px;
    position: absolute;
    width: 15px;
}

.oval-quotes {
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFED26;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 400px 350px;
    border-bottom-right-radius: 400px 350px;
    border-top-left-radius: 400px 350px;
    border-top-right-radius: 400px 350px;
    color: #000000;
    height: 350px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    position: relative;
    width: 400px;
}

.oval-quotes::before {
    color: #FFED26;
    content: “;
    font-family: Georgia, serif;
    font-size: 80px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    left: 20px;
    line-height: 1;
    position: absolute;
    top: 20px;
    z-index: 1;
}

.oval-quotes::after {
    bottom: 0;
    color: #FFED26;
    content: ”;
    font-family: Georgia, serif;
    font-size: 80px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 0.25;
    position: absolute;
    right: 20px;
    z-index: 1;
}

.oval-quotes p {
    font-size: 35px;
    height: 250px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    text-align: center;
    width: 250px;
}

.oval-quotes p::before {
    -webkit-transform: translate(-30px, -2px);
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFFFFF;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-right-radius: 40px 50px;
    bottom: -30px;
    content: '';
    height: 60px;
    position: absolute;
    right: 55%;
    width: 180px;
    z-index: -1;
}

.oval-quotes p::after {
    -webkit-transform: translate(0px, -2px);
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFED26;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-right-radius: 200px 100px;
    border-right-color: #FFED26;
    border-right-style: solid;
    border-right-width: 200px;
    bottom: -30px;
    content: '';
    display: block;
    height: 80px;
    position: absolute;
    right: 25%;
    width: 0;
    z-index: -2;
}

.oval-quotes + p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    width: 150px;
}

.rectangle-speech-border {
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFFFFF;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-color: #5A8F00;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-image: initial;
    border-left-color: #5A8F00;
    border-left-style: solid;
    border-left-width: 10px;
    border-right-color: #5A8F00;
    border-right-style: solid;
    border-right-width: 10px;
    border-top-color: #5A8F00;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-style: solid;
    border-top-width: 10px;
    color: #333333;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    position: relative;
    text-align: center;
}

.rectangle-speech-border::before {
    background-attachment: initial;
    background-clip: initial;
    background-color: transparent;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-color: #5A8F00;
    border-bottom-right-radius: 80px 50px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-left-color: #5A8F00;
    border-left-style: solid;
    border-left-width: 0;
    border-right-color: #5A8F00;
    border-right-style: solid;
    border-right-width: 10px;
    border-top-color: #5A8F00;
    border-top-style: solid;
    border-top-width: 0;
    bottom: -40px;
    content: '';
    display: block;
    height: 30px;
    left: 50px;
    position: absolute;
    width: 50px;
    z-index: 10;
}

.rectangle-speech-border::after {
    background-attachment: initial;
    background-clip: initial;
    background-color: transparent;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-color: #5A8F00;
    border-bottom-right-radius: 40px 50px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-left-color: #5A8F00;
    border-left-style: solid;
    border-left-width: 0;
    border-right-color: #5A8F00;
    border-right-style: solid;
    border-right-width: 10px;
    border-top-color: #5A8F00;
    border-top-style: solid;
    border-top-width: 0;
    bottom: -40px;
    content: '';
    display: block;
    height: 30px;
    left: 50px;
    position: absolute;
    width: 20px;
    z-index: 10;
}

.rectangle-speech-border > :first-child::before {
    background-attachment: initial;
    background-clip: initial;
    background-color: #5A8F00;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: -40px;
    content: '';
    height: 10px;
    left: 45px;
    position: absolute;
    width: 10px;
}

.rectangle-speech-border > :first-child::after {
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFFFFF;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    bottom: -10px;
    content: '';
    height: 15px;
    left: 76px;
    position: absolute;
    width: 24px;
}

.oval-speech-border {
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFFFFF;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-color: #F3961C;
    border-bottom-left-radius: 240px 140px;
    border-bottom-right-radius: 240px 140px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-image: initial;
    border-left-color: #F3961C;
    border-left-style: solid;
    border-left-width: 10px;
    border-right-color: #F3961C;
    border-right-style: solid;
    border-right-width: 10px;
    border-top-color: #F3961C;
    border-top-left-radius: 240px 140px;
    border-top-right-radius: 240px 140px;
    border-top-style: solid;
    border-top-width: 10px;
    color: #333333;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    position: relative;
    text-align: center;
}

.oval-speech-border::before {
    background-attachment: initial;
    background-clip: initial;
    background-color: transparent;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-color: #F3961C;
    border-bottom-right-radius: 80px 50px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-left-color: #F3961C;
    border-left-style: solid;
    border-left-width: 0;
    border-right-color: #F3961C;
    border-right-style: solid;
    border-right-width: 10px;
    border-top-color: #F3961C;
    border-top-style: solid;
    border-top-width: 0;
    bottom: -40px;
    content: '';
    display: block;
    height: 30px;
    margin-right: -10px;
    position: absolute;
    right: 50%;
    width: 50px;
    z-index: 2;
}

.oval-speech-border::after {
    background-attachment: initial;
    background-clip: initial;
    background-color: transparent;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-color: #F3961C;
    border-bottom-right-radius: 40px 50px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-left-color: #F3961C;
    border-left-style: solid;
    border-left-width: 0;
    border-right-color: #F3961C;
    border-right-style: solid;
    border-right-width: 10px;
    border-top-color: #F3961C;
    border-top-style: solid;
    border-top-width: 0;
    bottom: -40px;
    content: '';
    display: block;
    height: 31px;
    margin-right: 20px;
    position: absolute;
    right: 50%;
    width: 20px;
    z-index: 2;
}

.oval-speech-border > :first-child::before {
    background-attachment: initial;
    background-clip: initial;
    background-color: #F3961C;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: -40px;
    content: '';
    height: 10px;
    margin-right: 45px;
    position: absolute;
    right: 50%;
    width: 10px;
    z-index: 1;
}

.oval-speech-border > :first-child::after {
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFFFFF;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    bottom: -10px;
    content: '';
    height: 15px;
    position: absolute;
    right: 50%;
    width: 30px;
    z-index: 1;
}

.oval-thought-border {
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFFFFF;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-color: #C81E2B;
    border-bottom-left-radius: 240px 140px;
    border-bottom-right-radius: 240px 140px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-image: initial;
    border-left-color: #C81E2B;
    border-left-style: solid;
    border-left-width: 10px;
    border-right-color: #C81E2B;
    border-right-style: solid;
    border-right-width: 10px;
    border-top-color: #C81E2B;
    border-top-left-radius: 240px 140px;
    border-top-right-radius: 240px 140px;
    border-top-style: solid;
    border-top-width: 10px;
    color: #333333;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    position: relative;
    text-align: center;
}

.oval-thought-border::before {
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFFFFF;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-color: #C81E2B;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-image: initial;
    border-left-color: #C81E2B;
    border-left-style: solid;
    border-left-width: 10px;
    border-right-color: #C81E2B;
    border-right-style: solid;
    border-right-width: 10px;
    border-top-color: #C81E2B;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-style: solid;
    border-top-width: 10px;
    bottom: -40px;
    content: '';
    display: block;
    height: 50px;
    position: absolute;
    right: 100px;
    width: 50px;
    z-index: 10;
}

.oval-thought-border::after {
    background-attachment: initial;
    background-clip: initial;
    background-color: #FFFFFF;
    background-image: initial;
    background-origin: initial;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-color: #C81E2B;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-image: initial;
    border-left-color: #C81E2B;
    border-left-style: solid;
    border-left-width: 10px;
    border-right-color: #C81E2B;
    border-right-style: solid;
    border-right-width: 10px;
    border-top-color: #C81E2B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top-style: solid;
    border-top-width: 10px;
    bottom: -60px;
    content: '';
    display: block;
    height: 25px;
    position: absolute;
    right: 50px;
    width: 25px;
    z-index: 10;
}