*{
    margin:0;
    padding:0;
}
body{
    font-family: Cambria, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.4em;

    background:transparent url(../imgstylos/bgbody.jpg) repeat top left;
}
.info a.back{
	position: absolute;
	bottom:20px;
	left:10px;
	text-decoration:none;
	color:#603d05;
	text-shadow:1px 1px 1px #fff;
	font-weight:bold;
}
.info a.back:hover{
	color:#000;
}
#header{
    position:absolute;
    top:0px;
    left:0px;
    width:180px;
    height:395px;
    background:transparent url(../imgstylos/title.png) no-repeat top left;
}
#content{
    width:824px;
    height: 850px;
    margin:-200px auto 0px auto;
    background:transparent url(../imgstylos/bg.gif) no-repeat bottom left;
}
#content h1{
    color:#7F6137;
    text-shadow:1px 1px 1px #fff;
}
#content p{
    margin:20px;
    width:600px;
}
#content .text{
    padding:300px 0px 0px 100px;
}
ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 230px;
    list-style: none;
    z-index:999999;
}
ul#navigation li {
    display:inline;
    float:left;
    width:150px;
    margin-left:1px;

}
ul#navigation li a {
    display: block;
    font-weight:bold;
    text-shadow:1px 1px 1px #fff;
    float:left;
    width: 150px;
    height: 35px;
    color:#603d05;
    background:transparent url(../imgstylos/item.png) no-repeat bottom right;
    text-decoration:none;
    text-align:center;
    padding-top:80px;
    margin-top: -40px;
    cursor: default;


}
ul#navigation li a:hover{

}

